/* 
delete #545454
line bottom #888888
*/
.container {
  max-width: 700px;
  min-height: 300px;
  margin-top: 2rem;
  margin: 0 auto;
  background-color: #2d2d2d;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #66dbf9;
  font-size: 55px;
}

.add-button {
  background-color: #137be4;
  color: #fff;
  width: 50px;
  height: 32px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.head-todo {
}

.input-todo {
  width: 400px;
  height: 30px;
  margin-left: 100px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  color: #66dbf9;
}

.newTodo {
  width: 600px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid line #888888;
  align-items: center;
  margin: auto;
}

.img-png {
  width: 22px;
  height: 22px;
}
